/* footer.css */
footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(13, 74, 114);
    color: white;
}

footer.copyright {
    font-size: 12px;
    margin-top: 20px;
}

footer.contact {
    color: rgb(13, 74, 114);
    background-color: white;
}

footer.contact a {
    text-decoration: none;
    color: rgb(13, 74, 114);
}
