/* login.css */
.login-container {
    display: flex;
}

.login-container .login-container-left {
    background-image: url(assets/ith.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    padding-bottom: 643px;
    background-position: 45%;
    border-radius: 0% 5% 5% 0%;
}

.login-container .login-container-left h1 {
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-container .login-container-right {
    width: 30%;
    margin: auto;
    position: relative;
}

.login-container .login-container-right .support img {
    width: 100px;
    margin: auto;
    background-color: black;
}

.login-container .login-container-right form h2 {
    text-align: center;
}

.login-container .login-container-right form input {
    margin: auto;
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container .login-container-right form button {
    margin-right: 10px;
    float: right;
    margin-top: 10px;
    width: 125px;
    height: 50px;
    background-color: rgb(13, 74, 114);
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    margin-left: 10px;
    border: none;
    line-height: 50px;
}

.login-container .login-container-right form button a {
    text-decoration: none;
    color: white;
}

.login-container .login-container-right form button:hover {
    background-color: rgb(16, 50, 73);
}

.login-container .login-container-right form h1 {
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
}
