/* main.css */
.welcome h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.welcome h1 span {
    color: rgb(13, 74, 114);
}

.intro {
    margin: 0px 50px 0px 50px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.062);
}

.intro .title {
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.intro p {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1vw;
}

.intro .buttons {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.intro button {
    width: 125px;
    height: 50px;
    background-color: rgb(13, 74, 114);
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    margin-left: 10px;
    border: none;
}

.intro button:hover {
    background-color: rgb(16, 50, 73);
}

.intro button a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    display: block;
    text-align: center;
    line-height: 50px;
}

.booking-container {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.booking-container .important {
    width: 30%;
    height: 20%;
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(85, 85, 85);
    background-color: rgba(0, 0, 0, 0.062);
    border-radius: 20px;
}

.booking-container .important legend {
    font-weight: 700;
}

.booking-container .important h6 {
    font-weight: 700;
    color: red;
    font-size: 15px;
}

.booking-container .important ol {
    font-size: 17px;
    margin-top: 10px;
    text-align: left;
}

.booking-container .important ol {
    margin: 10px;
}

.booking-container .inputuser {
    width: 50%;
}

.booking-container .inputuser form fieldset {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.062);
    border-radius: 20px;
    padding: 20px;
}

.booking-container .inputuser form fieldset button {
    width: 100%;
    background-color: rgb(13, 74, 114);
    border-radius: 20px;
    padding: 20px;
    color: white;
}

.booking-container .inputuser form legend {
    margin-left: 20px;
    font-weight: 700;
    color: rgb(85, 85, 85);
}

.booking-container .inputuser form fieldset div {
    margin: 20px 0;
}

.booking-container .inputuser form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(85, 85, 85);
}

.booking-container .inputuser form input,
.booking-container .inputuser form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
