/* navbar.css */
.navbar-container {
    display: flex;
}

.navbar-container-left {
    background-color: rgb(13, 74, 114);
    box-shadow: 0 0 25px rgb(8, 47, 73);
    border-bottom-right-radius: 100px;
    height: 14vh;
    padding: 0 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar-container-left .brand {
    margin-right: 50px;
}

.navbar-container-left .brand h1 {
    color: rgb(247, 60, 4);
    font-weight: 700;
}

.navbar-container-left .brand h2 {
    font-weight: 700;
    color: white;
}

.navbar-container-left ul {
    display: flex;
    list-style: none;
}

.navbar-container-left ul li {
    margin-left: 50px;
}

.navbar-container-left ul li a {
    text-decoration: none;
    font-size: 1.2vw;
    color: white;
    font-weight: 800;
}

.navbar-container-left ul li a:hover {
    color: rgb(228, 92, 51);
}

.navbar-container-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-container-right img {
    width: 60px;
    margin-right: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

ul li {
    margin-right: 20px;
    position: relative;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(13, 74, 114);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(12, 59, 90);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
