* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;
}

.login-container {
    display: flex;
}

.login-container .login-container-left {
    background-image: url(assets/ith.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    padding-bottom: 643PX;
    background-position: 45%;
    border-radius: 0% 5% 5% 0%;
}

.login-container .login-container-left H1 {
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-container .login-container-right {
    width: 30%;
    margin: auto;
    position: relative;

    .support img{
        width: 100px;
        margin: auto;
        background-color: black;

    }
    form{

        h2 {
            text-align: center;
        }

        input {
            margin: auto;
            display: block;
            width: calc(100% - 20px);
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            margin-right: 10px;
            float: right;
            margin-top: 10px;
            width: 125px;
            height: 50px;
            background-color: rgb(13, 74, 114);
            border-radius: 10px;
            box-shadow: 3px 3px 5px black;
            margin-left: 10px;
            border: none;
            line-height: 50px;
            a {
                text-decoration: none;
                color: white;
            }
        }

        button:hover {
            background-color: rgb(16, 50, 73);
        }

        H1 {
            font-size: 15px;
            margin-bottom: 10px;
            text-align: center;
        }
    }
}

.navbar-container {
    display: flex;
}

.navbar-container-left {
    background-color: rgb(13, 74, 114);
    box-shadow: 0 0 25px rgb(8, 47, 73);
    border-bottom-right-radius: 100px;
    height: 14vh;
    padding: 0 20px;
    width: 50%;
    display: flex;
    align-items: center;
}

.navbar-container-left .brand {
    color: whitesmoke;
    margin-right: 50px;
}

.navbar-container-left .brand h1 {
    color: rgb(247, 60, 4);
    font-weight: 700;
}

.navbar-container-left .brand h2 {
    font-weight: 700;
    color: white;
}

.navbar-container-left ul {
    display: flex;
    list-style: none;
}

.navbar-container-left ul li {
    margin-left: 50px;
}

.navbar-container-left ul li a {
    text-decoration: none;
    font-size: 1.2vw;
    color: white;
    font-weight: 800;
}

.navbar-container-left ul li a:hover {
    color: rgb(228, 92, 51);
}

.navbar-container-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-container-right img {
    width: 60px;
    margin-right: 20px;
}

.welcome h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    span {
        color: rgb(13, 74, 114);
    }
}

.intro {
    margin: 0px 50px 0px 50px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.062);
}

.intro .title {
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.intro p {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1vw;
}

.intro .buttons {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.intro button {
    width: 125px;
    height: 50px;
    background-color: rgb(13, 74, 114);
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    margin-left: 10px;
    border: none;
}

.intro button:hover {
    background-color: rgb(16, 50, 73);
}

.intro button a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    display: block;
    text-align: center;
    line-height: 50px;
}

.booking-container {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.booking-container .important {
    width: 30%;
    height: 20%;
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(85, 85, 85);
    background-color: rgba(0, 0, 0, 0.062);
    border-radius: 20px;
}

.booking-container .important legend {
    font-weight: 700;
}

.booking-container .important h6 {
    font-weight: 700;
    color: red;
    font-size: 15px;
}

.booking-container .important ol {
    font-size: 17px;
    margin-top: 10px;
    text-align: left;
}

.booking-container .important ol {
    margin: 10px;
}

.booking-container .inputuser {
    width: 50%;
}

.booking-container .inputuser form fieldset {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.062);
    border-radius: 20px;
    padding: 20px;
}

.booking-container .inputuser form fieldset button{
    width: 100%;
    background-color: rgb(13, 74, 114);
    border-radius: 20px;
    padding: 20px;
    color: white;
}

.booking-container .inputuser form legend {
    margin-left: 20px;
    font-weight: 700;
    color: rgb(85, 85, 85);
}

.booking-container .inputuser form fieldset div {
    margin: 20px 0;
}

.booking-container .inputuser form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(85, 85, 85);
}

.booking-container .inputuser form input,
.booking-container .inputuser form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-container {
    background-color: rgba(0, 0, 0, 0.062);
    width: 30%;
    margin: auto;
    margin-top: 7vh;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    h2 {
        text-align: center;
        color: rgb(85, 85, 85);
    }

    .button-container {
        display: flex;
        justify-content: center;
    }

    .tambah-akun {
        width: 90%;
        margin-top: 40%;
        margin-left: 10px;
        
        a {
        text-decoration: none;
        color: white;
        font-size: 13px;
        }
    }

    button{
        width: 120px;
        height: 30px;
        background-color: rgb(13, 74, 114);
        border-radius: 10px;
        box-shadow: 3px 3px 5px black;
        border: none;
        text-decoration: none;
        color: white;
        font-size: 13px;
        margin: 10px;
    }
}


.user-container .data-user {
    margin: auto;
    background-color: white;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-bottom: 20px;
    h4 {
        margin-left: 10px;
    }
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(13, 74, 114);
    color: white;
}

footer.copyright {
    font-size: 12px;
    margin-top: 20px;
}

footer.contact {
    color: rgb(13, 74, 114);
    background-color: white;
}

footer.contact a {
    text-decoration: none;
    color: rgb(13, 74, 114);
}
